{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
{% endblock %}

{% block title %}
HomePage
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to the Workshop</h1>
    
    <div class="text-center mt-4">
        <label for="dropdown">Select a option:</label>
        <!-- Form wraps the dropdown and the button -->
        <form method="POST">
            <select id="dropdown" name="dropdown" class="form-control w-25 mx-auto">
                {% for option in options %}
                    <option value="{{ option }}" {% if option == selected_option %} selected {% endif %}>{{ option }}</option>
                {% endfor %}
            </select>            
            <button type="submit" name="action" value="select" class="btn btn-primary mt-3">Select</button>
            <div class="text-center mt-4">
                <a href="/" class="btn btn-primary">Back to Homepage</a>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
{% endblock %}
